<section>
    <div class="contentbx">
        <div class="formbx">
            <h2>Forget Password</h2>
            <form  id="loginForm" [formGroup]="" [autocomplete]="'off'">
                <div class="inputbx">
                    <input type="text" class="cs1" placeholder="MOBILE-NO">
                    <button type="submit" class="btn1">Send OTP</button>
                </div>
                <div class="inputbx">
                    <input type="text" placeholder="OTP">
                </div>
                <div class="inputbx">
                    <button type="submit" class="btn2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>