<div *ngIf="mode=='table'">
  <div class="columns is-mobile ">
    <div class="column">

      <h3 class="card-header-title smart-header-text">

        History About RCL </h3>
    </div>
    <div class="column is-4 is-flex is-justify-content-end smart-mobile-hide">
      <button class="button smart-action-button-secondary" (click)="openForm()">
        <i class="fa fa-plus p-1"></i>Add History
      </button>
    </div>
    <div class="column is-3 is-flex is-justify-content-end smart-desk-hide">
      <figure class="image is-32x32" (click)="openForm()">
        <img class="is-rounded" src="assets/icons/add-100-blue.png">
      </figure>
    </div>
  </div>

  <div class="columns ">
    <div class="column is-18">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <app-smart-tablenew [data]="tableData" [tconfig]="tableConfigNew">
            </app-smart-tablenew>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #employeesTemplate let-item>
  <span class="tag" *ngFor="let obj of item.employees">{{obj.label}}</span>
</ng-template>

<ng-template #imageTemplate let-item>
  <img src="{{imageUrl}}/{{item.ID}}" style="width:200px;height:200px">
</ng-template>

  


<ng-template #createform let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-smart-form-new [smartFormConfig]="createFormConfig()" [smartFormData]="formData"></app-smart-form-new>
  </div>
</ng-template>

<div *ngIf="mode=='display'">

  <div class="columns">
    <div class="column is-12">
      <div class="title has-text-centered">
        <p class="bounce-in-top"> History About RCL </p>
      
       
      </div>
    </div>
  </div>
  <!-- <div class="columns mt-5" id="activities" *ngFor="let item of  tableData"
    >
    <div class="column is-6 smart-desk">
      <img src="{{imageUrl}}/{{item.ID}}" />
    </div>
    <div class="colums is-6">
      <div class="smart-activitie-content">
        <div class="smart-heading mb-5">
          {{ item?.description }}
        </div>

      </div>
    </div>
  </div> -->

  <div class="columns mt-5" id="activities" *ngFor="let item of tableData; let i = index"
  [ngClass]="{ 'is-flex-direction-row-reverse': i % 2 == 0 }">
  <div class="column is-6 smart-desk" >

    <img src="{{imageUrl}}/{{item.ID}}" />
    <!-- <img src="../../../../../assets/images/igcar-2.jpeg"> -->
   
  </div>
     
    
    <div class="colums is-6" >
      <div class="smart-activitie-content">
        <div class="smart-heading mb-5">
          {{ item?.activity_title }}
        </div>
        <p class="smart-card-content">
          {{ item?.description }}
        </p>
      </div>
    </div>
  </div>
</div>