<div class="card">
    <header class="card-header">
        <p class="card-header-title">
          {{meetTitle}}
        </p>
        <button class="card-header-icon" aria-label="more options"> 
            <span class="icon" (click)="meetPreviousClick()">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
              </span>
            {{monthNames[meetMonth-1]}}, {{meetYear}}
            <span class="icon" placement="left" [ngbPopover]="popContent" [autoClose]="'outside'"
            triggers="manual"
            #p="ngbPopover"
            (click)="p.open();monthYearReset()">
            <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
              <span class="icon" (click)="meetNextClick()">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
              </span>
        </button>
      </header>
      <div class="card-content">
        <div class="columns is-multiline  ">
            <div class="column is-1 smart-column smart-head-column card smart-day-head" *ngFor="let month_name of  daysOfWeek">
                 {{month_name}}
            </div>
            <div   *ngFor="
            let item of SmartMonthArray;
            let i = index;
            trackBy: trackByFn"
            class="column is-1 smart-column card {{firstDivClass(i)}}"
            [ngClass]="checkDisable(i) ? 'smart-meet-day-disable' : ''"
            >
            <div class="smart-meet-day">{{i+1}}</div>         
            <a class="panel-block smart-meet-info-block" *ngFor="let obj of getDayData(i+1)" (click)="showMeetDetails(obj)">
              <ng-container *ngTemplateOutlet="meetTemplate; context: { $implicit: obj }"></ng-container>                
              </a>
            </div>
        </div>
      </div>
</div>

<ng-template #popContent>
    <div class="select">
        <select [(ngModel)]="meetMonthSelect">
            <option *ngFor="let m of monthsArray" [value]="m">{{monthNames[m-1]}}</option>
        </select>
      </div> 
      <div class="select">
        <select [(ngModel)]="meetYearSelect">
            <option *ngFor="let yearValue of years" [value]="yearValue">{{yearValue}}</option>
        </select>
      </div>
      <span class="icon" (click)="p.close();monthYearSelect()">
        <i class="fa fa-check" aria-hidden="true"></i>
      </span>
</ng-template>

<ng-template #createform let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"
            class="ft-popup-heading text-center brand-text-color">Meet Details</h5>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ng-container *ngTemplateOutlet="getTemplateName(); context: { $implicit: singleMeetData }"></ng-container>
    </div>
  </ng-template>