<!-- ***** Header Area Start ***** -->
<header
  class="header-area header-sticky wow slideInDown"
  data-wow-duration="0.75s"
  data-wow-delay="0s"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo" style="width: 250px">
            <h4>
              <img
                src="./assets/images/logo-blue.png"
                alt="team meeting"
                style="width: 80%; border-radius: 0px"
              />
            </h4>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <!-- <ul
            class="nav"
            [ngClass]="isMenu ? 'mobilemenuclick' : 'mobilemenunone'"
          >
            <li class="scroll-to-section" (click)="getMenu()">
              <a data-href="#top" (click)="scroll('top')" class="active"
                >HOME</a
              >
            </li>
            <li class="scroll-to-section" (click)="getMenu()">
              <a data-href="#about" (click)="scroll('about')">REWARDS</a>
            </li>
            <li class="scroll-to-section" (click)="getMenu()">
              <a data-href="#services" (click)="scroll('services')"
                >MILESTONES</a
              >
            </li>
            <li class="scroll-to-section" (click)="getMenu()">
              <a data-href="#portfolio" (click)="scroll('portfolio')"
                >CHALLENGES</a
              >
            </li>
            <li class="scroll-to-section" (click)="getMenu()">
              <a data-href="#blog" (click)="scroll('blog')">ANALYTICS</a>
            </li>
            <li class="loginmobileli" (click)="getMenu()">
              <div class="main-red-button">
                <a
                  routerLink="/admin/dashboard"
                  *ngIf="t"
                  class="loginmobilestyle"
                >
                  <span *ngIf="dashboardActive">Dashboard</span>
                </a>
                <a routerLink="/login" *ngIf="!t" class="loginmobilestyle"
                  >LOGIN</a
                >
              </div>
            </li>
          </ul>
          <a class="menu-trigger" (click)="getMenu()">
            <span>Menu</span>
          </a> -->
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<div
  class="main-banner wow fadeIn"
  id="top"
  data-wow-duration="1s"
  data-wow-delay="0.5s"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div
              class="left-content header-text wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay="1s"
            >
              <img src="assets/images/celeb_55.png" alt="team meeting" /><br />
              <h2>Make <em>Behaviours </em> <span>Thinking</span> Rewarding</h2>
              <p>
                Creating a space of togetherness to nurture a culture of
                vibrancy and excellence which is rewarding as you earn your
                CREDIT POINTS of
                <a rel="nofollow" href="#" target="_parent">
                  “Celebrating GREAT”</a
                >.
              </p>
              <!-- <div class="main-blue-button">
                <a routerLink="/login">Go to Login...</a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="right-image wow fadeInRight"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <img
                class="main-banner-img"
                src="assets/images/banner-right-image4.png"
                alt="team meeting"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div
          class="left-image wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <img src="assets/images/about-left-image.png" alt="person graphic" />
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="item wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <div class="icon">
                  <img
                    src="assets/images/service-icon-01.png"
                    alt="reporting"
                  />
                </div>
                <div class="right-text">
                  <h4>Behaviours & Culture</h4>
                  <p class="service_p_flex">
                    Get to know how you could earn your Reward Credits<br />A
                    step to Celebrating GREAT!!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="item wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.7s"
              >
                <div class="icon">
                  <img src="assets/images/service-icon-02.png" alt="" />
                </div>
                <div class="right-text">
                  <h4>Multi-Layer Reward Credit Platform</h4>
                  <p class="service_p_flex" style="color: rgb(2, 2, 62)">
                    Spot them, Reward them. Reward Peers, supervisor, teams and
                    who ever shows excellence around YOU.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="item wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.9s"
              >
                <div class="icon">
                  <img src="assets/images/service-icon-03.png" alt="" />
                </div>
                <div class="right-text">
                  <h4>Credit Analysis</h4>
                  <p class="service_p_flex" style="color: rgb(2, 2, 62)">
                    Now you can track your Reward Credit Points as you perform
                    your work
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="item wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="1.1s"
              >
                <div class="icon">
                  <img src="assets/images/service-icon-04.png" alt="" />
                </div>
                <div class="right-text">
                  <h4>CAMS Rewards</h4>
                  <p class="service_p_flex" style="color: rgb(2, 2, 62)">
                    An unique platform to earn rewards for the excellence you
                    have shown
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="our-services section">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 align-self-center wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
      >
        <div class="left-image">
          <img src="assets/images/culture1.png" alt="" />
        </div>
      </div>
      <div
        class="col-lg-6 wow fadeInRight"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
      >
        <div class="section-heading">
          <h2>
            Get Credits for Learning, contributing and building your Thinking
            Process while Strengthening <em>CAMS</em> Culture by
            <span>Sharing Credits</span> and Thoughts
          </h2>
          <p style="font-size: 20px">
            We bring to you a space, where you own up your reward structure.
            Rewarding NOW is no more only managed by your supervisor but also by
            YOU. So, learn, share and understand what could be more rewarding at
            CAMS.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="first-bar progress-skill-bar">
              <h4>Culture Point Analysis</h4>
              <span>84%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="second-bar progress-skill-bar">
              <h4>Learning Points Analysis</h4>
              <span>88%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="third-bar progress-skill-bar">
              <h4>Discussion board Analysis</h4>
              <span>94%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="second-bar progress-skill-bar">
              <h4>Peer to Peer Reward Analysis</h4>
              <span>88%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="portfolio" class="our-portfolio section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div
          class="section-heading wow bounceIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <h2>What all can you do with <em> CAMS</em> <span> credits</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <a href="#">
          <div
            class="item wow bounceInUp"
            data-wow-duration="1s"
            data-wow-delay="0.3s"
          >
            <div class="hidden-content">
              <h4>Desired Patterns</h4>
              <p>Learn about the ways to get Credit points</p>
            </div>
            <div class="showed-content">
              <img class="radius20" src="assets/images/cams_01.png" alt="" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#">
          <div
            class="item wow bounceInUp"
            data-wow-duration="1s"
            data-wow-delay="0.4s"
          >
            <div class="hidden-content">
              <h4>My Credit Score</h4>
              <p>How many points have I received?</p>
            </div>
            <div class="showed-content">
              <img class="radius20" src="assets/images/cams_02.png" alt="" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#">
          <div
            class="item wow bounceInUp"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="hidden-content">
              <h4>Leader Board</h4>
              <p>
                Who is leading in getting credit points
                <!--and how are they getting it?-->
              </p>
            </div>
            <div class="showed-content">
              <img class="radius20" src="assets/images/cams_03.png" alt="" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#">
          <div
            class="item wow bounceInUp"
            data-wow-duration="1s"
            data-wow-delay="0.6s"
          >
            <div class="hidden-content">
              <h4>Redemption</h4>
              <p>Ways to redeem My credit points.</p>
            </div>
            <div class="showed-content">
              <img class="radius20" src="assets/images/cams_04.png" alt="" />
            </div>
          </div>
        </a>
      </div>

      <!-- <h2>
        <b class="our-portfolio-b"><br />How does the Credit framework work:</b>
      </h2> -->
      <!-- <P class="newpclass">
        <!-- We all have an undying spirit to recognize when something good happens
        around us. And “Celebrating GREAT” is a big salute to that spirit.--
        The following changes are to be made for the above section. It is not in
        alignment with the overall
        <br />
        <!-- So how does this credit framework work? It is a simple method: --
        concept:
      </P> -->
    </div>
  </div>
</div>

<div id="blog" class="our-blog section">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 wow fadeInDown"
        data-wow-duration="1s"
        data-wow-delay="0.25s"
      >
        <div class="section-heading">
          <h2>Check Out What Is <em>Trending</em></h2>
        </div>
      </div>
      <div
        class="col-lg-6 wow fadeInDown"
        data-wow-duration="1s"
        data-wow-delay="0.25s"
      >
        <div class="top-dec">
          <!--<img src="assets/images/blog-dec.png" alt="" />-->
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.25s"
      >
        <div class="left-image">
          <a href="#"
            ><img
              src="assets/images/big-blog-thumb.jpeg"
              alt="Workspace Desktop"
          /></a>
          <div class="info">
            <div class="inner-content">
              <ul>
                <li><i class="fa fa-calendar"></i> Credits</li>
                <li><i class="fa fa-users"></i> No. of likes</li>
                <li><i class="fa fa-folder"></i> remove</li>
              </ul>
              <a href="#"><h4>Amazing Team &amp; A Recognition</h4></a>
              <p>
                <!-- We’ve made it to another employee appreciation day—and it’s just
                another chance for us to express how grateful we are for
                wonderful work! -->
                It was a delight to receive such a sweet appreciation from
                Shobana. It made my day to such a lovely appreciation. It makes
                me do more…
              </p>
              <div class="main-blue-button">
                <a routerLink="/admin/dashboard">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.25s"
      >
        <div class="right-list">
          <ul>
            <li>
              <div class="left-content align-self-center">
                <span><i class="fa fa-calendar"></i> 18 Mar 2023</span>
                <a href="#"><h4>Brought Bluetooth speaker</h4></a>
                <p>
                  <!-- Lorem ipsum dolor sit amsecteturii and sed doer ket eismod... -->
                  With my credit points I was able to get these amazing..
                </p>
              </div>
              <div class="right-image">
                <a href="#"
                  ><img src="assets/images/blog-thumb-01.jpg" alt=""
                /></a>
              </div>
            </li>
            <li>
              <div class="left-content align-self-center">
                <span><i class="fa fa-calendar"></i> 20 Mar 2023</span>
                <a href="#"><h4>Cheers Team</h4></a>
                <p>
                  It was a delight to receive appreciation from our unit leader
                  for the whole team..
                </p>
              </div>
              <div class="right-image">
                <a href="#"
                  ><img src="assets/images/blog-thumb-02.png" alt=""
                /></a>
              </div>
            </li>
            <li>
              <div class="left-content align-self-center">
                <span><i class="fa fa-calendar"></i> 21 Mar 2023</span>
                <a href="#"><h4>Unsung Hero</h4></a>
                <p>
                  <!-- Lorem ipsum dolor sit amsecteturii and sed doer ket eismod... -->
                  Every team has a set of people who quietly do their work and
                  when…
                </p>
              </div>
              <div class="right-image">
                <a href="#"
                  ><img src="assets/images/blog-thumb-03.png" alt=""
                /></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="contact-us section">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 align-self-center wow fadeInLeft"
        data-wow-duration="0.5s"
        data-wow-delay="0.25s"
      >
        <div class="section-heading">
          <h2>
            You SPOT IT
            <img src="assets/images/Picture2.png" alt="" class="c" />
            You Spread JOY <br />
            You Give Credit
          </h2>
          <p>
            To encourage more of this to happen, there are 100+ ways to
            recognize your “Learning Spirit” and 30+ ways to recognize your
            “Culture Spirit”
          </p>
          <div class="phone-info">
            <!-- <h4>
              Automate milestone awards<br /><br />
              Create any custom challenge<br /><br />
              See what challenges are most popular
            </h4> -->
          </div>
        </div>
      </div>
      <div
        class="col-lg-9 wow fadeInRight"
        data-wow-duration="0.5s"
        data-wow-delay="0.25s"
      >
        <form id="contact" action="" method="post" style="padding: 10px">
          <div class="row">
            <div class="col-lg-12">
              <img src="assets/images/Picture1.png" alt="team meeting" />
            </div>
          </div>
          <div class="contact-dec">
            <img src="assets/images/contact-decoration.png" alt="" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-12 wow fadeIn"
        data-wow-duration="1s"
        data-wow-delay="0.25s"
      >
        <p>© Employees CAMS Credits page in HRMS by. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

