
<div class="container-fluid login-container ">
    <div class="columns  has-text-centered has-background-white main-title">
      <div class="column is-12 is-flex is-justify-content-center ">
        <div class="media">
          <div class="">
           <figure class="image is-96x96">
             <img class="is-rounded" [src]="siteSettings?.book_image" alt="logo">
           </figure>
         </div>
         <div class="login-media-content ">
           <h1  >{{siteSettings?.site_name || 'IGCAR DOCUMENT' }}</h1>
         </div>
       </div> 
     </div>
      </div>
    
      <div class="colum  ">
        <!-- <div class="column is-12 card head-card">
          <div class="media">
             <div class="media-left">
              <figure class="image is-48x48">
                <img class="is-rounded" [src]="siteSettings?.book_image" alt="logo">
              </figure>
            </div>
            <div class="media-content">
              <h1>{{siteSettings?.site_name || 'IGCAR DOCUMENT' }}</h1>
            </div>
          </div> 
        </div> -->
        <!-- <div class="column is-12 box"></div> -->

        <!-- <div class="column is-7-tablet is-7-desktop is-7-widescreen card image-card smart-mobile-hide">
          <div class="smart-image-card">
          <app-smart-carousel [templateArray]="carousal_templates" [config]="this.carousal_items"></app-smart-carousel>
          </div>
        </div> -->
        <div class="colum is-5-tablet is-5-desktop is-5-widescreen  p-5 smart-login-form login-card">
          <div class="smart-login-view">
            <!-- <div class="login-heading">
          <div class="media-left">
              <figure class="image is-96x96">
                <img class="is-rounded" [src]="siteSettings?.book_image" alt="logo">
              </figure>
            </div>
            <div class="media-content">
              <h1>{{siteSettings?.site_name || 'IGCAR DOCUMENT' }}</h1>
            </div>
            </div> -->

          <h1 class="has-text-centered  smart-login-title">SIGN IN</h1>
          
          <app-smart-form-new [smartFormConfig]="createLoginFormConfig()" [smartFormData]="loginData"></app-smart-form-new>
          </div>
        </div>
       
        <!--
        <div class="column is-12">
          <app-site-circular [source]=true></app-site-circular>      
        </div>
         -->
      </div>
      </div>
    



<div *ngFor="let template of carousal_templates">  
  <ng-template #{{template.name}}>
    <p>{{template.content}}</p>
    <div class="smart-slide">
      <img src="../assets/images/bg-1.jpg" />
      <div class="smart-slider-content">
        <h3> Activity-1</h3>
        <p> Best viewed in 1024x768 resolution
          © Site Owned & Maintained by : Indira Gandhi Centre for Atomic Research, Department of Atomic Energy, Government of India
          Last updated on: 30-September-2023</p>
      </div>   
    </div> 
  </ng-template>
</div>

<ng-template #imageTemplate_1>
  <div class="smart-slide">
    <img src="../assets/images/bg-1.jpg" />
    <div class="smart-slider-content">
      <h3> Activity-1</h3>
      <p> Best viewed in 1024x768 resolution
        © Site Owned & Maintained by : Indira Gandhi Centre for Atomic Research, Department of Atomic Energy, Government of India
        Last updated on: 30-September-2023</p>
    </div>   
  </div> 
</ng-template>
<ng-template #imageTemplate_2>   
  <img src="../assets/images/bg-2.jpg" />
</ng-template>
<ng-template #resetPassFirstForm let-c="close" let-d="dismiss">     
  <app-smart-form-new [smartFormConfig]="createFirstResetFormConfig()" [smartFormData]="resetData"></app-smart-form-new> 
</ng-template>
<!-- Login User -->
<ng-template #login_user>   
  <div class="media smart-login-media">
    <div class="media-left">
      <figure class="image is-48x48">
        <img *ngIf="user_data?.profile" class="is-rounded" [src]="user_data?.profile">
        <img *ngIf="!user_data?.profile" src="../assets/images/profile.png" />
      </figure>
    </div>
    <div class="media-content">
      <h1>{{user_data?.name}}</h1>
      
    </div>
  </div>
  <p class="login-links has-text-right smart-login-another-account" *ngIf="user_data">
    <a (click)="clearUser()">Try Another Account ?</a></p>     
</ng-template>