<div class="cardbox">
    <div class="card-1">
        <div class="iconBx-1">
            <i class="fa fa-user"></i>
        </div>
        <div>
            <div class="numbers">1,504</div>
            <div class="cardname">User</div>
        </div>        
    </div>
    <div class="card-1">
        <div class="iconBx-2">
            <i class="fa-brands fa-dochub"></i>
        </div>
        <div>
            <div class="numbers">1,504</div>
            <div class="cardname">DOCS</div>
        </div>
      
    </div>
    <div class="card-1">
        <div class="iconBx-3">
            <i class="fa fa-handshake"></i>
        </div>
        <div>
            <div class="numbers">80</div>
            <div class="cardname">Meetings</div>
        </div>
       
    </div>
    <div class="card-1">
        <div class="iconBx-4">
            <i class="fa-brands fa-nfc-symbol"></i>
        </div>
        <div>
            <div class="numbers">284</div>
            <div class="cardname">Electrical</div>
        </div>
       
    </div>
    <div class="card-1">
        <div class="iconBx-5">
            <i class="fa fa-phone-volume"></i>
        </div>
        <div>
            <div class="numbers">842</div>
            <div class="cardname">Telephone</div>
        </div>
        
    </div>
    


</div>