<div class="columns has-background-white ">

  <div class="column is-12 card">
    <div class="is-flex is-justify-content-space-between">
      <figure class="image ">
        <img class="sub-view-image" src="../assets/images/igcar-logo.png">
      </figure>

      <div class="is-size-4 mt-3 sub-view-title">
       <p>{{siteSettings?.home_title}}</p>
      </div>


      <div class="image-box">
        <figure class="image sub-view-column is-flex is-justify-content-end ">
          <img class="sub-view-image" src="../assets/images/igcar-2.jpeg">
        </figure>
      </div>
    </div>



    <!-- <div class="card-header has-background-info has-text-centered is-flex justify-content-center">
      <div class="card-title has-text-dark is-size-5 ">Indira Gandhi Centre for Atomic Research</div>
      </div> -->
      <div class="card-body ">
        <!-- <p>{{siteSettings?.home_content}}</p> -->
        <p *ngFor="let title of this.title_content">{{title}}</p>
      </div>
      <!-- <div class="card-body has-text-info prov-1">
        <p>Content Provider: {{siteSettings?.home_content_provider}}</p>
      </div> -->
    </div>
    </div>




<div class="columns scrolling-card">
  <div class="column is-6 card border-0 p-0 card-shadow ">
    <div class="card-header card card-header-1 ">
      <div class="card-header-title has-text-weight-bold">Site Circular</div>
    </div>
    <div class="card-content overflow-hidden p-2">
      <div class="scrolling-text">

        <ul class="sub-view-list" *ngFor="let list of circularList">
          <li class="list-view card">
            {{list.form_name}} <span class="list-date">
              {{list.last_modified_time|date:'dd/MM/YYYY'}}</span></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="column card is-6 border-0 p-0 card-shadow">
    <div class="card ">
      <header class="card-header">
        <p class="card-header-title">
          Document Publication Chart
        </p>
        <button class="card-header-icon has-text-white" aria-label="more options">
          <span class="icon" (click)="changeYear(2)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
          {{currentYear}}
          <span class="icon" (click)="changeYear(1)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content" style="height:100vh">
          <app-smart-chart [smartConfig]="smartChartConfig"></app-smart-chart>
        </div>
      </div>
    </div> 
  </div>
</div>