<section>
    <div class="contentBox">
        <div class="formBox">
            <h2>Sign Up</h2>
            <form  id="loginForm" [autocomplete]="'off'">
                <div class="inputBox">
                    <label>Name: </label><br>
                    <input type="text">
                </div>
                <div class="inputBox">
                    <label>Username: </label><br>
                    <input type="text">
                </div>
                <div class="inputBox">
                    <label>Guest-Code: </label><br>
                    <input type="text">
                </div>
                <div class="inputBox">
                    <label>Password: </label><br>
                    <input type="password">
                </div>  
                <div class="inputBox">
                    <label>Confirm-Password: </label><br>
                    <input type="text">
                </div>
                <div class="inputBox">
                    <label>Mobile-No: </label><br>
                    <input type="text" class="otp">
                    <button type="submit" class="smart-bttn1">Send OTP</button>
                </div>
                <div class="inputBox">
                    <label> Enter the OTP: </label><br>
                    <input type="text">
                </div>
                <div class="inputBox">
                    <button type="submit" class="smart-bttn2">Submit</button>
                </div>
            </form>
        </div>
    </div>  
</section>