<section>
    <div class="contentbx">
        <div class="formbx">
            <h2>Change Password</h2>
            <form id="loginForm" [formGroup]="" [autocomplete]="'off'">
                <div class="inputbx">
                    <input type="text" placeholder="New Password">
                </div>
                <div class="inputbx">
                    <input type="text" placeholder="Confirm Password">
                </div>
                <div class="inputbx">
                    <button type="submit" class="btn1">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>